$containerWidth: 940px;
$baseFontSize: 18px;

//breakpoints

$tablets: 768px;
$phones: 480px;

//colors
$blue: #61C4D9; 
$darkGreen: #064d3c;

@import "./media.scss";

//z-indexes
$z-fixed-menu: 100;

//normalize
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");

//setups
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');
@import "layout.scss";

//components
@import "components/hero.scss";
@import "components/header.scss";
@import "components/features.scss";
@import "components/feature.scss";
@import "components/btn.scss";
@import "components/menu.scss";
@import "components/phone-number.scss";
@import "components/section.scss";
@import "components/headline.scss";
@import "components/benefits.scss";
@import "components/benefit.scss";
@import "components/benefits-secion.scss";
@import "components/slider.scss";
@import "components/team.scss";
@import "components/products-section.scss";
@import "components/reviews.scss";
@import "components/reviews-section.scss";
@import "components/player.scss";
@import "components/order-section.scss";
@import "components/form.scss";
@import "components/radio.scss";
@import "components/modal.scss";
@import "components/map-section.scss";
@import "components/footer.scss";
@import "components/socials.scss";
@import "components/contacts.scss";
@import "components/fixed-menu.scss";
@import "components/hamburger.scss";
@import "components/overlay-menu.scss";
