@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: "Alegreya sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.maincontent {
  height: 100%;
  transition: transform 1s;
  will-change: transform;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background: url("../img/big-leaf.png") right bottom no-repeat;
  background-color: #61C4D9;
  height: 100%;
  min-height: 36.1111111111rem;
  color: #fff;
  position: relative;
}
@media screen and (max-width: 768px) {
  .hero {
    background-position: right bottom 88%;
  }
}
@media screen and (max-width: 768px) {
  .hero:before, .heroafter {
    display: none;
  }
}
.hero:before {
  position: absolute;
  bottom: -2.2222222222rem;
  left: 2%;
  content: url("../img/leaf3.png");
}
.hero:after {
  position: absolute;
  bottom: -2.2222222222rem;
  right: 0;
  content: url("../img/hero-berries.png");
}
@media screen and (max-width: 768px) {
  .hero:after {
    display: none;
  }
}

.hero__title-section {
  width: 46%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .hero__title-section:before {
    content: "";
    width: 19.1666666667rem;
    height: 19.3888888889rem;
    background: url("../img/comp-bar.png") center center/contain no-repeat;
    margin-bottom: 0.8888888889rem;
  }
}

@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1.3333333333rem 0 2.7777777778rem;
  background: url("../img/Sweets.png") right center/50% auto no-repeat;
}
@media screen and (max-width: 768px) {
  .hero__container {
    background: none;
  }
}

.hero__main-title {
  font-size: 2.5555555556rem;
  line-height: 1.3;
  font-weight: bold;
  margin-bottom: 0.9444444444rem;
  text-transform: uppercase;
}

.hero__title-desc {
  font-size: 1.1666666667rem;
  margin-bottom: 1.7777777778rem;
  padding-right: 10%;
}
@media screen and (max-width: 768px) {
  .hero__title-desc {
    padding: 0 25%;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-desc {
    padding: 0 16%;
  }
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .phone-number.header__phone-number {
    display: none;
  }
}

.features {
  display: flex;
}

.features__item {
  margin-right: 2.0555555556rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: flex;
}

.feature__icon {
  margin-right: 0.6666666667rem;
  width: 2.2222222222rem;
}

.feature__text {
  font-size: 0.8888888889rem;
  max-width: 4.7222222222rem;
  font-weight: bold;
}

.feature__icon-symbol {
  fill: #C6F7FF;
  width: 2.2222222222rem;
  height: 2rem;
}

.btn {
  font-size: 0.8888888889rem;
  font-weight: bold;
  padding: 1.1666666667rem 2.3888888889rem;
  text-transform: uppercase;
  border-radius: 5.5555555556rem;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  border: none;
}
.btn--theme--white {
  background: #fff;
  color: #064d3c;
}
.btn--theme--white:hover {
  color: #fff;
  background: #064d3c;
}
.btn--theme--green {
  background: #064d3c;
  color: #fff;
}
.btn--theme--green:hover {
  color: #064d3c;
  background: #fff;
}
.btn--theme--transparent {
  background: transparent;
  color: #000;
  text-decoration: none;
}
.btn--theme--transparent:hover {
  color: #064d3c;
  transition: 0.3s;
}
.btn.app-close-modal {
  background: #064d3c;
  border: 1px solid #064d3c;
  color: #fff;
}
.btn.app-close-modal:hover {
  background: #fff;
  color: #064d3c;
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
    max-height: 0 1.6666666667rem;
    padding-top: 0.2777777778rem;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.menu__item {
  margin-right: 1.5rem;
  margin-bottom: 0.5555555556rem;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}

.phone-number {
  font-size: 1.2222222222rem;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.phone-number__icon-elem {
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  margin-right: 0.3333333333rem;
}

.phone-number__text {
  white-space: nowrap;
}

.phone-number__icon {
  flex-shrink: 0;
}

.section {
  height: 100%;
  min-height: 36.1111111111rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .section {
    min-height: 55.5555555556rem;
  }
}
@media screen and (max-width: 480px) {
  .section {
    min-height: 44.4444444444rem;
  }
}
.section--font--color--green {
  color: #064d3c;
}
.section--font--color--green .section__title {
  color: inherit;
}

.section__title {
  font-size: 2.6666666667rem;
  font-weight: bold;
  margin-bottom: 2.9444444444rem;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

.headline {
  text-align: center;
  margin-bottom: 2.7777777778rem;
}

.headline__title {
  margin-bottom: 1.0555555556rem;
}
@media screen and (max-width: 768px) {
  .headline__title {
    margin-bottom: 0;
  }
}

.headline__subtitle {
  padding: 0 26%;
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0 5%;
  }
}

.benefits {
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    flex-direction: column;
  }
}

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
    margin-bottom: 1.0555555556rem;
  }
}
.benefits__item:before {
  content: url("../img/Separator.png");
  position: absolute;
  top: 1.6666666667rem;
  right: 0;
  transform: translate(50%);
}
@media screen and (max-width: 480px) {
  .benefits__item:before {
    display: none;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: flex;
    text-align: left;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1.1111111111rem;
}

.benefit__icon {
  width: 3.5555555556rem;
  height: 3.7777777778rem;
  position: abolute;
  top: 50%;
  left: 50%;
  transform: translate(46%, 45%);
}

.benefit__title {
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.benefit__desc {
  text-align: center;
  padding: 0;
}
@media screen and (max-width: 480px) {
  .benefit__desc {
    text-align: left;
    padding: 0;
  }
}

.benefit__image {
  margin-bottom: 1.0555555556rem;
}
@media screen and (max-width: 480px) {
  .benefit__image {
    margin-bottom: 0;
    margin-right: 1.1111111111rem;
  }
}

.benefits-section {
  position: relative;
  background: url("../img/leaf2.png") left top 57% no-repeat;
  justify-content: flex-start;
  padding-top: 280px;
}
@media screen and (max-width: 480px) {
  .benefits-section {
    background: none;
  }
}
.benefits-section:before {
  content: url("../img/bars-and-berries.png");
  position: absolute;
  bottom: -4.4444444444rem;
  left: 0;
  z-index: 1;
}
@media screen and (max-width: 480px) {
  .benefits-section:before {
    display: none;
  }
}

.slider-section {
  background-color: #F8FAF9;
  position: relative;
  display: flex;
  justify-content: center;
}
.slider-section:before {
  content: "";
  background-image: url("../img/leaf6.png");
  position: absolute;
  right: 0;
  bottom: -25%;
  width: 10.8888888889rem;
  height: 25.1111111111rem;
}
@media screen and (max-width: 768px) {
  .slider-section:before {
    bottom: -14%;
    width: 8.4444444444rem;
    height: 19.4444444444rem;
    background-size: contain;
  }
}
@media screen and (max-width: 480px) {
  .slider-section:before {
    width: 152px;
    height: 350px;
  }
}
.slider-section:after {
  content: "";
  background-image: url("../img/berry2.png");
  position: absolute;
  bottom: -7%;
  right: 2%;
  height: 6.2222222222rem;
  width: 7.5rem;
}
@media screen and (max-width: 768px) {
  .slider-section:after {
    background-size: contain;
    height: 4.7777777778rem;
    width: 5.7777777778rem;
    bottom: 0;
    right: 1%;
  }
}
@media screen and (max-width: 480px) {
  .slider-section:after {
    width: 104px;
    height: 86px;
  }
}

.slider__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
}

.slider .bx-wrapper {
  border: 0 !important;
  background: transparent;
  box-shadow: none;
}

.slider__btn {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  width: 1.5rem;
  z-index: 20;
}
.slider__btn--next {
  right: -0.5555555556rem;
}
.slider__btn--prev {
  left: -0.5555555556rem;
  transform: rotateY(-180deg) translateY(-50%);
}

.slider {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.slider__list {
  width: 100%;
  display: flex;
  transition: transform 0.3s;
  right: 0;
  position: relative;
}

.slider__item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
@media screen and (max-width: 768px) {
  .slider__item {
    width: 100%;
    flex-direction: column;
  }
}

.slider__left {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .slider__left {
    width: 50%;
  }
}

.slider__img {
  display: flex;
  object-fit: cover;
  position: relative;
  right: 5%;
}
@media screen and (max-width: 768px) {
  .slider__img {
    align-items: center;
  }
}

.slider__pic {
  display: flex;
  max-width: 100%;
}

.ingredients__icon {
  width: 2.5555555556rem;
  height: 2.5555555556rem;
  padding: 0;
  fill: #FFFFFF;
}

.slider__ingredients {
  position: relative;
  background: #60AACC;
  width: 5.0555555556rem;
  height: 5.0555555556rem;
  border-radius: 0.2777777778rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .slider__ingredients {
    display: none;
  }
}
.slider__ingredients:hover .composition {
  opacity: 1;
  left: 100%;
}

.ingredients__text {
  color: #FFFFFF;
  font-size: 0.7777777778rem;
  text-transform: uppercase;
}

.composition {
  position: absolute;
  top: 0;
  opacity: 0;
  transition: opacity 0.4s;
  left: -9999px;
  width: 15.1666666667rem;
  height: 19.1111111111rem;
  border-radius: 0.3333333333rem;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  border-radius: 4px;
  transition: opacity 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.composition__item {
  display: flex;
  flex-direction: row;
  flex: 1;
  color: #000000;
  width: 13.6666666667rem;
  height: 2.4444444444rem;
  margin-top: 0.5555555556rem;
  align-self: center;
  /*margin-top: rem(28px);
  color: #000000;*/
}
.composition__item-icon {
  width: 15%;
  margin-left: 0.8888888889rem;
  margin-right: 0.5555555556rem;
  width: 1.0555555556rem;
  height: 1.1111111111rem;
  padding: 0;
}
.composition__item-name {
  width: 70%;
  padding-top: 0.1111111111rem;
}
.composition__item-amount {
  width: 15%;
  text-align: center;
  padding-left: 0;
  padding-top: 0.1111111111rem;
}

.slider__title {
  font-size: 2rem;
  font-weight: bold;
  color: #292929;
  text-transform: uppercase;
  margin-bottom: 0.7777777778rem;
  margin-top: 1.2777777778rem;
  line-height: 2.3333333333rem;
  width: 20.4444444444rem;
}
@media screen and (max-width: 768px) {
  .slider__title {
    font-size: 1.6666666667rem;
    text-align: center;
    margin-top: 0.8888888889rem;
  }
}

.slider__desc {
  font-size: 1rem;
  color: #666666;
  line-height: 1.2222222222rem;
  width: 20.4444444444rem;
}
@media screen and (max-width: 768px) {
  .slider__desc {
    text-align: center;
  }
}

.slider-tag {
  justify-content: space-between;
  display: flex;
  width: 60%;
  margin-top: 1.8888888889rem;
}
@media screen and (max-width: 768px) {
  .slider-tag {
    width: initial;
    justify-content: space-evenly;
  }
}

.tag-text {
  color: #666666;
  flex-direction: column;
  margin-right: 2.7777777778rem;
}

.tag-value {
  color: #000000;
  font-weight: bold;
}

.slider-row {
  display: flex;
  align-items: flex-end;
}
@media screen and (max-width: 768px) {
  .slider-row {
    justify-content: space-evenly;
  }
}

.slider-price {
  font-size: 3.3333333333rem;
  color: #151515;
  margin-right: 1.6666666667rem;
}

.team {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .team {
    padding: 0 10%;
    flex-direction: column;
    align-items: center;
    -webkit-box-align: center;
  }
}

.team__item {
  flex: 1;
  text-align: center;
  margin-right: 1.1111111111rem;
  max-width: 12.3333333333rem;
  position: relative;
}
@media screen and (max-width: 768px) {
  .team__item {
    flex: initial;
    margin-bottom: 1.9444444444rem;
    margin-right: 0;
  }
}

.team__member {
  height: 288px;
  margin-bottom: 20px;
}

.team--version--desktop .team-content {
  position: absolute;
  top: 100%;
}
@media screen and (max-width: 768px) {
  .team--version--desktop {
    display: none;
  }
}

.team--version--mobile {
  display: none;
}
.team--version--mobile .team__item {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .team--version--mobile {
    display: flex;
  }
}

.team__title {
  border: none;
  background: none;
  color: #000000;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 20px;
}

.team__content {
  overflow: hidden;
  transition: height 0.3s;
  height: 0;
  position: absolute;
}
.team__content-block .team__content-job {
  color: #000000;
}
.team__content-block .team__content-text {
  color: #666666;
  font-weight: 300;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
}

.equilateralTriangle {
  width: 0;
  height: 0;
  margin-top: -7px;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 7px solid #365A49;
  border-bottom: 0px solid #365A49;
  vertical-align: super;
  display: inline-block;
  margin-left: 4px;
}
.equilateralTriangle.active {
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 0px solid #365A49;
  border-bottom: 7px solid #365A49;
}

.triangle-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-menu-section {
  background: url("../img/products/menuu.png") center center/cover no-repeat;
  position: relative;
  color: #ffff;
}
.products-menu-section:before {
  content: "";
  background-image: url("/img/berrymenu.png");
  position: absolute;
  top: -7%;
  left: 5%;
  width: 5.7777777778rem;
  height: 6.3333333333rem;
  z-index: 80;
}
@media screen and (max-width: 768px) {
  .products-menu-section:before {
    width: 5rem;
    height: 5.4444444444rem;
    background-size: contain;
    top: -5%;
    left: 4%;
  }
}

.products-menu-section__title {
  position: absolute;
  left: 4.6666666667rem;
  top: 6.0555555556rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.6666666667rem;
}
@media screen and (max-width: 768px) {
  .products-menu-section__title {
    left: 2.2222222222rem;
    top: 4.7222222222rem;
  }
}

.products-menu {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
}
.products-menu__item {
  display: flex;
}
.products-menu__image {
  position: absolute;
  height: 100%;
  width: 100%;
}
.products-menu__title {
  position: relative;
  width: 5.5555555556rem;
  text-align: center;
}
.products-menu__text {
  text-decoration: none;
  transform: rotate(-90deg) translateY(-50%);
  font-weight: bold;
  font-size: 2.6666666667rem;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-top: -30%;
  white-space: nowrap;
  transform-origin: 0 0;
}
@media screen and (max-width: 480px) {
  .products-menu__text {
    font-size: 2.2222222222rem;
  }
}
.products-menu__content {
  background: rgba(51, 53, 55, 0.9);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  width: 0;
  position: relative;
  overflow: hidden;
  transition: width 0.7s;
}
.products-menu__container {
  padding: 2.6666666667rem 4.0555555556rem 2.5rem 1.4444444444rem;
}

.products-menu__close {
  position: absolute;
  top: 1.1111111111rem;
  right: 1.3888888889rem;
  border: none;
  background: transparent;
}

.products-menu__close-icon {
  width: 1rem;
  height: 1rem;
  display: block;
  fill: #c2c3c4;
  transition: 0.3s;
}

.reviews__display {
  background: #F8FAF9 url("../img/Raspberry.png") right top no-repeat;
  padding: 2.2222222222rem;
  margin-bottom: 0.8333333333rem;
  overflow: hidden;
  position: relative;
}
.reviews__display:before {
  content: "";
  display: block;
  width: 5rem;
  height: 5rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  top: -3.6111111111rem;
}
@media screen and (max-width: 480px) {
  .reviews__display:before {
    display: none;
  }
}

.reviews__list {
  position: relative;
  min-height: 15.5555555556rem;
}

.reviews__item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  transition: 0.3s;
  opacity: 0;
}
.reviews__item.active {
  position: static;
  opacity: 1;
  pointer-events: unset;
}

.reviews__display-inner {
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

.reviews__avatar {
  width: 14.0555555556rem;
  height: 14.6666666667rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 7.2222222222rem;
    height: 7.2222222222rem;
  }
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
  margin-left: 2.2222222222rem;
}
@media screen and (max-width: 768px) {
  .reviews__content {
    margin-left: 0;
  }
}

.reviews__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.6666666667rem;
  color: #292929;
}
@media screen and (max-width: 768px) {
  .reviews__title {
    margin-top: 1.7777777778rem;
    margin-bottom: 0.8888888889rem;
  }
}

.reviews__text {
  margin-bottom: 1.3888888889rem;
}
@media screen and (max-width: 768px) {
  .reviews__text {
    margin-bottom: 1.0555555556rem;
  }
}

.reviews__autor {
  font-size: 1rem;
  font-weight: bold;
  color: #292929;
}

.reviews__switcher {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3.5rem;
}

.reviews__switcher-item {
  width: 4.1111111111rem;
  height: 4.1111111111rem;
  border: 0.2222222222rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.reviews__switcher-item.active {
  border-color: #365A49;
}

.reviews__switcher__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.reviews__switcher__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviews-section {
  position: relative;
  background: url("../img/strawberry.png") right 1.1666666667rem top 2.3333333333rem no-repeat;
}
.reviews-section:before {
  content: url("../img/Leaf2.png");
  position: absolute;
  bottom: -8.7222222222rem;
  left: 0;
}
.reviews-section:after {
  content: url("../img/berries.png");
  position: absolute;
  bottom: -4.7777777778rem;
  left: 0;
  z-index: 1;
}

.player-section__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6.1111111111rem;
}
@media screen and (max-width: 768px) {
  .player-section__container {
    margin-bottom: 4.7777777778rem;
  }
}
@media screen and (max-width: 480px) {
  .player-section__container {
    margin-bottom: 5.1111111111rem;
  }
}

.player {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  width: 36.6666666667rem;
}
.player__wrapper {
  display: flex;
  flex-wrap: wrap;
}
.player__wrapper:before {
  content: "";
  background-image: url("../img/playerleaf.png");
  position: absolute;
  top: 55%;
  left: -22%;
  width: 4rem;
  height: 7.4444444444rem;
}
@media screen and (max-width: 768px) {
  .player__wrapper:before {
    left: -22%;
    top: 46%;
    width: 3.4444444444rem;
    height: 6.4444444444rem;
    background-size: contain;
  }
}
.player__wrapper:after {
  content: "";
  background-image: url("../img/playerleafsmall.png");
  position: absolute;
  top: -10%;
  right: -16%;
  width: 5rem;
  height: 4.3333333333rem;
}
@media screen and (max-width: 768px) {
  .player__wrapper:after {
    right: -10%;
    width: 4rem;
    height: 3.4444444444rem;
    background-size: contain;
  }
}
@media screen and (max-width: 480px) {
  .player__wrapper:after {
    width: 3.3333333333rem;
    height: 2.7777777778rem;
  }
}
.player.active .player__splash {
  display: none;
}
.player.paused .player__start {
  width: 0.7777777778rem;
  height: 1.2222222222rem;
  border: none;
}
.player.paused:after, .player.paused:before {
  content: "";
  display: block;
  position: absolute;
  width: 0.2777777778rem;
  top: 0;
  bottom: 0;
  background: #626262;
}
.player.paused:after {
  right: 0;
}
.player.paused:before {
  left: 0;
}

.player__splash {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background: url("../img/screen.png") center center/cover no-repeat;
}

.player__controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1.9444444444rem;
  background: #3e3e3e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.3888888889rem;
}

.order-section {
  background: url("../img/fon.png") center center no-repeat;
  height: 100vh;
  min-height: 36.2222222222rem;
  position: relative;
}
.order-section:before {
  content: "";
  background-image: url("../img/berry7.png");
  background-repeat: no-repeat;
  position: absolute;
  top: -17%;
  right: 0;
  z-index: -10;
  width: 10.8888888889rem;
  height: 14.6666666667rem;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .order-section:before {
    width: 6.1111111111rem;
    height: 8.1111111111rem;
    background-size: contain;
    top: -7%;
  }
}
.order-section:after {
  content: url("../img/Leaf5.png");
  position: absolute;
  bottom: 3.2222222222rem;
  right: 0.5555555556rem;
}
@media screen and (max-width: 480px) {
  .order-section:after {
    display: none;
  }
}

.form {
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    flex-direction: column;
    padding: 0 19%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__col {
  flex: 1;
  margin-right: 1.5rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: 2rem;
}

.form__block {
  flex: 1;
  margin-right: 0.9444444444rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 1rem 0.6666666667rem;
  border: solid 0.1666666667rem transparent;
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 5px;
  }
}
.form__input--textarea {
  height: 8.4444444444rem;
  resize: none;
  margin-bottom: 1.6666666667rem;
}
.form__input:focus {
  border-color: #DEE2BD;
  outline: none;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .form__controls {
    justify-content: center;
  }
}

.form__btns {
  display: flex;
  justify-content: center;
}

.input-error {
  border-color: red;
}

.radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
  align-items: center;
  margin-right: 1.2222222222rem;
}
@media screen and (max-width: 480px) {
  .radio {
    margin-bottom: 0.5555555556rem;
  }
}
.radio--checkbox .radio__visible {
  border-radius: 0.2777777778rem;
}
.radio--checkbox .radio__visible:before {
  background: url("../img/icons/Vector.png") center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 1.3888888889rem;
  height: 1.3888888889rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 0.8888888889rem;
  margin-bottom: 1rem;
}
.radio__visible:before {
  content: "";
  width: 0.7222222222rem;
  height: 0.7222222222rem;
  background: #365A49;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio__title {
  margin-right: 1.2777777778rem;
}

.modal {
  display: none;
}
.modal.error-modal .modal__content {
  color: red;
}
.modal.fancybox-content {
  color: #000000;
  font-weight: 500;
  padding: 0 !important;
}
.modal .fancybox-button {
  display: none;
}

.error-modal {
  color: red;
}

.modal__container {
  background: #fff;
  padding: 35px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-section {
  background: url("");
  position: relative;
  height: 100vh;
  min-height: 36.3333333333rem;
  position: relative;
}

.map {
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
}

/*.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background:  #FFFFFF;
  padding: rem(23px) 0;
  height: rem(86px);

}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center; 

  @include phones {
    flex-direction: column;
  }
}*/
.footer__container {
  position: relative;
  bottom: 0;
  height: 5.2777777778rem;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 480px) {
  .footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.socials {
  /*display: flex;
  justify-content: space-between;
  align-items: center;*/
  margin-top: 2.5555555556rem;
}
@media screen and (max-width: 480px) {
  .socials {
    margin-top: 0.8888888889rem;
  }
}

.socials__item {
  display: inline-flex;
  vertical-align: middle;
  margin-right: 0.7777777778rem;
}
.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  content: "";
  display: inline-flex;
  text-decoration: none;
  width: 1.1111111111rem;
  height: 1.1111111111rem;
  position: relative;
}

.social__item {
  content: "";
  display: inline-flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.1111111111rem;
  height: 1.1111111111rem;
}
.social__item-vk {
  fill: #B3B3B3;
}
.social__item-vk:hover {
  fill: #292929;
}
.social__item-fb {
  fill: #B3B3B3;
}
.social__item-fb:hover {
  fill: #292929;
}
.social__item-in {
  fill: #B3B3B3;
}
.social__item-in:hover {
  fill: #292929;
}
.social__item-tv {
  fill: #B3B3B3;
}
.social__item-tv:hover {
  fill: #292929;
}

.contacts {
  font-style: normal;
  font-size: 1.1666666667rem;
  color: #292929;
}
@media screen and (max-width: 480px) {
  .contacts {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.phone-number--theme--green {
  color: #064d3c;
}

.fixed-menu {
  position: fixed;
  top: 30%;
  right: 3%;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu--shadowed {
  color: #000;
}

.fixed-menu__item {
  margin-bottom: 0.2777777778rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #fff;
}

.fixed-menu__link {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hamburger {
  width: 26px;
  height: 20px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  background: #fff;
  height: 4px;
  border-radius: 10px;
}

.button_container {
  position: absolute;
  top: 5%;
  right: 2%;
  height: 20px;
  width: 24px;
  cursor: pointer;
  z-index: 100;
  transition: opacity 0.25s ease;
  display: none;
}
@media screen and (max-width: 768px) {
  .button_container {
    display: block;
  }
}

.button_container.button_container--active {
  opacity: 0.7;
}

.button_container.button_container--active .button_container--top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  border-radius: 5px;
}

.button_container.button_container--active .button_container--middle {
  opacity: 0;
}

.button_container.button_container--active .button_container--bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  border-radius: 5px;
}

.button_container .button_container__item {
  background: #fff;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.35s ease;
  cursor: pointer;
}

.button_container .button_container__item:nth-of-type(2) {
  top: 11px;
}

.button_container .button_container__item:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  background: #2e3133;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
}

.overlay.overlay--open {
  opacity: 0.99;
  visibility: visible;
  height: 100%;
}

.overlay.overlay--open .overlay-menu__item {
  animation: fadeInRight 0.5s ease forwards;
  animation-delay: 0.35s;
}

.overlay-menu {
  position: absolute;
  height: 70%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-family: "Vollkorn", serif;
  font-weight: 400;
  text-align: center;
}

.overlay-menu__list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
}

.overlay-menu__item {
  display: block;
  position: relative;
  line-height: 1;
  opacity: 0;
}

.overlay-menu__item:after {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
}

.overlay-menu__item:last-child:after {
  display: none;
}

.overlay-menu__link {
  display: block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
.body-active-menu {
  overflow: hidden;
}

.btn-close {
  color: #fff;
  font-size: 24px;
  font-family: Helvetica;
}