.benefit {
  text-align: center;
}

.benefit__image-wrapper {
  display: inline-block;
  width: 128px;
  height: 128px;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}

.benefit__icon {
  width: 64px;
  height: 68px;
  position: abolute;
  top: 50%;
  left: 50%;
  transform: translate(46%, 45%);
}

.benefit__title {
  color: #000;
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 18px;
}

.benefit__desc {
  text-align: centr;
  padding: 0 22%;
}