.contacts {
  font-style: normal;
  font-size: rem(21px);
  color: #292929;
  margin-top: rem(24px);

  @include phones {
    margin-top: rem(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.phone-number--theme--green{
  color: $darkGreen;
}