.form {
  display: flex;
  
  @include tablets {
    flex-direction: column;
    padding: 0 19%;
  }

  @include phones {
    padding: 0;
  }
}

.form__col {
  flex: 1;
  margin-right: rem(27px);

  &:last-child {
    margin-right: 0;
  }

  @include tablets {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: rem(36px);
}

.form__block {
  flex: 1;
  margin-right: rem(17px);

  &:last-child {
    margin-right: 0;
  }
}

.form__input {
  width: 100%;
  border: none;
  padding: rem(18px) rem(12px);
  border: solid rem(3px) transparent;

  &--textarea {
    height: rem(152px);
    resize: none;
    margin-bottom: rem(30px);
  }

  &:focus {
    border-color: #DEE2BD;
    outline: none;
  }

}

.form__controls {
  display: flex;
  flex-wrap: wrap;

  @include phones {
    justify-content: center;
  }
}

.form__btns {
  display: flex;
  justify-content: center;
}
