.hero {
  background: url("../img/big-leaf.png") right bottom no-repeat;
  background-color: $blue;
  height: 100%;
  //height: 100vh;
  min-height: rem(650px);
  color: #fff;
  position: relative;

  @include tablets {
    background-position: right bottom 88%;
  }

  &:before, &after {
    @include tablets {
      display: none;
    }
  }

  &:before {
    position: absolute;
    bottom: rem(-40px);
    left: 2%;
    content: url("../img/leaf3.png");
  }

  &:after {
    position: absolute;
    bottom: rem(-40px);
    right: 0;
    content: url("../img/hero-berries.png");

    @include tablets {
      display: none;
    }
  }
} 

.hero__title-section {
  width: 46%;

  @include tablets {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    &:before {
      content: "";
      width: rem(345px);
      height: rem(349px);
      background: url("../img/comp-bar.png") center center / contain no-repeat;
      margin-bottom: rem(16px);
    }
  }
}

.hero__icons-section {
  @include tablets {
    display: none;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: rem(24px) 0 rem(50px);
  background: url("../img/Sweets.png") right center / 50% auto no-repeat;

  @include tablets {
    background:none;
  }
}

.hero__main-title {
  font-size: rem(46px);
  line-height: 1.3;
  font-weight: bold;
  margin-bottom: rem(17px);
  text-transform: uppercase;
}

.hero__title-desc {
  font-size: rem(21px);
  margin-bottom: rem(32px);
  padding-right: 10%;

  @include tablets {
    padding: 0 25%;
  }

  @include phones {
    padding: 0 16%;
  }
}
