.hero {
  background: url("../img/big-leaf.png") right bottom no-repeat;
  background-color: $blue;
  height: 100vh;
  min-height: 650px;
  color: #fff;
  position: relative;

  &:before {
    position: absolute;
    bottom: -40px;
    left: 2%;
    content: url("../img/leaf3.png");
  }

  &:after {
    position: absolute;
    bottom: -40px;
    right: 0;
    content: url("");
  }
} 

.hero__title-section {
  width: 46%;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 24px 0 50px;
  background: url("../img/Sweets.png") right center / 50% auto no-repeat;
}

.hero__main-title {
  font-size: 46px;
  line-height: 1.3;
  font-weight: bold;
  margin-bottom: 17px;
  text-transform: uppercase;
}

.hero__title-desc {
  font-size: 21px;
  margin-bottom: 32px;
  padding-right: 10%;
}
