.modal {
  display: none;

  &.error-modal {
    .modal__content {
      color: red;
    }
  }

  &.fancybox-content {
    color: #000000;
    font-weight: 500;
    padding: 0 !important;
  }

  .fancybox-button {
    display: none;
  }
}

.error-modal {
  color: red;
}

.modal__container {
  background: #fff;
  padding: 35px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}