.order-section {
  background: url("../img/fon.png") center center no-repeat;
  height: 100vh;
  min-height: rem(652px);
  position: relative;

  &:before {
    content: url("../img/berry.png");
    position: absolute;
    bottom: rem(69px);
    left: rem(51px);

    @include phones {
      display: none;
    }
  }

  &:after {
    content: url("../img/Leaf5.png");
    position: absolute;
    bottom: rem(58px);
    right: rem(10px);

    @include phones {
      display: none;
    }
  }
}