.order-section {
  background: url("../img/fon.png") center center no-repeat;
  height: 100vh;
  min-height: rem(652px);
  position: relative;

  &:before {
    content: "";
    background-image: url("../img/berry7.png");
    background-repeat: no-repeat;
    position: absolute;
    top: -17%;
    right: 0;
    z-index: -10;
    width: rem(196px);
    height: rem(264px);
    z-index: 1;

    @include tablets {
      width: rem(110px);
      height: rem(146px);
      background-size: contain;
      top: -7%;
    }
  }
  &:after {
    content: url("../img/Leaf5.png");
    position: absolute;
    bottom: rem(58px);
    right: rem(10px);

    @include phones {
      display: none;
    }
  }
}