.phone-number {
  font-size: rem(22px);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.phone-number__icon-elem {
  width: rem(14px);
  height: rem(14px);
  margin-right: rem(6px);
}

.phone-number__text {
  white-space: nowrap;
}

.phone-number__icon {
  flex-shrink: 0;
}