.reviews-section {
  position: relative;
  background: url("../img/strawberry.png") right rem(21px) top rem(42px) no-repeat;
  
  &:before {
    content: url("../img/Leaf2.png");
    position: absolute;
    bottom: rem(-157px);
    left: 0;
  }

  &:after {
    content: url("../img/berries.png");
    position: absolute;
    bottom: rem(-86px);
    left: 0;
    z-index: 1;
  }
}