.socials {
  /*display: flex;
  justify-content: space-between;
  align-items: center;*/
  margin-top: rem(38px);

  @include phones {
    margin-top: rem(5px);
  }
}

.socials__item {
  display: inline-flex;
  vertical-align: middle;
  margin-right: rem(14px);

  &:last-child {
    margin-right: 0;
  }
}

.socials__link {
  content: "";
  display: inline-flex;
  text-decoration: none;
  width: rem(20px);
  height: rem(20px);
  position: relative;
  
}

.socials__item {
  content: "";
  display: inline-flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: rem(20px); height: rem(20px);

  &-vk {
    fill: #B3B3B3;

    &:hover {
      fill: #292929;
    }
  }

  &-fb {
    fill: #B3B3B3;

    &:hover {
      fill: #292929;
    }
  }

  &-in {
    fill: #B3B3B3;

    &:hover {
      fill: #292929;
    }
  }

  &-tv {
    fill: #B3B3B3;

    &:hover {
      fill: #292929;
    }
  }
}
