.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  @include tablets {
    padding: 0 10%;
    flex-direction: column;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
  }
}

.team__item {
  flex: 1;
  text-align: center;
  margin-right: rem(20px);
  max-width: rem(222px);
  position: relative;
  
  @include tablets {
    flex: initial;
    margin-bottom: rem(35px);
    margin-right: 0;
  }
}

.team__member {
  height: 288px;
  margin-bottom: 20px;
}

.team--version--desktop {
  .team-content {
    position: absolute;
    top: 100%; 
  }

  @include tablets {
    display: none;
  }
}

.team--version--mobile {
  display: none;

  .team__item {
    margin-bottom: 0;
  }

  @include tablets {
    display: flex;
  }
}

.team__title {
  color: #000000;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 20px;
}

.team__content {
  overflow: hidden;
  transition: height 0.3s;
  height: 0;

  &-block {
    .team__content-job {
      color: #000000;
    }
    
    .team__content-text {
      color: #666666;
      font-weight: 300;
    }
  }
}

button {
  border:none;
  background: transparent;
  cursor: pointer;
  padding: 0;
}